
 :root{
    --titulos: 'Playfair Display', serif;
    --textos:'Lora', serif;
    --productos:'Work Sans', sans-serif;
   }

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: auto;
    min-height: 100px;
    align-items: center;
    position: relative;
   }
@media (max-width: 768px) { 
    .cabecera{
        position: unset;
    }
}
.logo{
    width: 35%;
    height: 100%;
    min-height: 100px;
    align-items: center;
    position:absolute;
    left: 35%;
}

@media (max-width: 768px) { 
    .logo{
        position:unset;
    }
}

@media (max-width:768px){
    .logo, .link_logo{
       margin-left:-140px;
       width: 100%;
    } 

 }

.link_logo{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo{
   width: 30%;
}

.menu{
    width: 33%;

}
.moneda{
    width: 50%;
}


.carrito{
    width: 50%;
    text-align: center;
}

.img_carrito{
    width: 50%;
}

@media (max-width:768px){
    .menu_sub{
        display:none;
    }
 }

.menu_items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 11px;
    font-weight:700;   
 }

.par_derecha{
    margin-right: 10px;
    width: 10%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
    text-align: center;
}

@media (max-width:768px){
    .par_derecha{
    width: 20%;
    }
 }

.item{
    text-decoration: none;
    color:black;
    font-family: var(--productos);
    
}

.portada{

    background-image:url(Images/slider-2.jpg);
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    display:flex ;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

@media (max-width: 768px) { 
    .portada{
        max-width: 1200px;
        width: 90%;
        height: 400px;
        position: bottom;
    }
}

.portada p{
    width: 500px;
    height:100px;
    font-family: var(--titulos);
    font-size: 50px;
    font-weight: 400;
    text-align: center; 
}

@media (max-width: 768px) { 
    .portada p{
        font-size: 30px;
        width: 300px;
    }
}
.shop_now{
    text-decoration: none;
    font-weight: 700;
    color: black;
    text-decoration: underline;
    margin-top:5px;
    font-family: var(--productos);
}

.temporadas{
    margin: 0 auto;
    margin-top: 80px;
    display:flex ;
    justify-content: center;
    align-items: center;
   
}
@media (max-width: 768px) { 
    .temporadas{
        flex-direction: column;
        margin-top: 40px;
    }
}

.temp{
    margin-left:30px;
    width: 450px;
    height: 200px;
}

@media (max-width: 768px) { 
    .temp{
        margin-left:15px;
        margin-top: 30px;
    }
}

.summer{
    background-image: url(Images/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
}

.winter{
    background-image: url(Images/banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.off{
    font-size: 25px;
    font-family: var(--textos);
    color:#529F0F;
    margin-left: 30px;
    margin-top: 70px;

}

.vacation{
    font-size: 12px;
    font-family: var(--productos);
    font-weight: bolder;
    margin-left: 30px;
    margin-top: -20px;
}

.latest{
    background-image: url(Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) { 
    .latest{
        height: auto;
        width: 90%;
    }
}

h2{
    font-family: var(--titulos);
    font-size: 25px;
    font-weight: 200;
}

.parrafo{
    margin: 0 auto;
    margin-top: -20px;
    width: 450px;
}

@media (max-width: 768px) { 
    .parrafo{
        width: 400px;
    }
}
.parrafo p{
    color:#575757;
    font-family: var(--textos);
}


.galeria_prods{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:80%;
}

@media (max-width: 768px) { 
    .latest .galeria_prods{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.prod1{
    margin-top: 20px;
    position: relative;
 
}


.img_prod{
    width: 90%;
    margin:0 auto;
}

.im{
    width: 100%;
}

.prod1 .des_prod{
    text-align: left;
    margin-left: 25px;
}

.prod1 .precio_prod{
    text-align: left;
    margin-left: 25px;
    margin-top: -10px;
}
.des_prod p{
    font-family: var(--productos);
}

.precio_prod p{
    font-family: var(--productos);
    font-weight: bold;
    font-size: 12px;
}

.latest .precio_prod span{
    text-decoration: line-through;
    color:#575757;
}

.circulo_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:#529F0F;
    position: absolute;
    left: calc(10%);
    bottom: calc(85%);
}


.circulo_desc p{
    color: white;
    font-family: var(--productos);
    font-size: 10px;

}

.agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 70px;

}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.agradecimiento .textos .principal{
    font-family: var(--titulos);
    width: 500px;
}

@media (max-width: 768px) { 
    .agradecimiento .textos .principal {
        width: 250px;
        line-height: 25px;
    }
}

.agradecimiento .textos .secundario{
    font-family:var(--productos);
    font-weight: bold;
    color: #575757;
    font-size: 10px;

}

.agradecimiento .textos .autor{
    color: #575757;
    font-family: var(--productos);
    margin-top:-3px;
    font-size: 10px;
}

.new_products{
    background-image: url(Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 800px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) { 
    .new_products{
        background-color:#F3F3F3;
        height: auto;

    }
}

@media (max-width: 768px) { 
    .new_products .galeria_prods{
        display: grid;  
        grid-template-columns: 1fr;
    }
} 



.newsletter{
    background-image: url(Images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 95%;
    height: 220px;
}



.latest_news{
    background-image: url(Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) { 
    .latest_news{
        height: auto;
        padding-bottom: 20px;
    }
}

.galeria_latest_news{
    background-image: url(Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width:75%;
}

@media (max-width: 768px) { 
    .galeria_latest_news{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.new_fecha{
    font-family: var(--textos);
    font-size: 12px;
    text-decoration:underline;
    color: #529F0F;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.new_tit{
    font-family: var(--titulos);
    margin-left: 10px;
    text-align: left;
}

.new_descr{
    font-family: var(--textos);
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
    color: #575757;
    max-width :230px;
    line-height : 22px;
}

.new_link{
    max-height: 15px;
    max-width: 100px;
}

.link_new{
    max-height: 15px;
    font-family: var(--productos);
    font-size: 10px;
    font-weight: bold;
    color: #575757;
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

@media (max-width: 768px) { 
    .marg_news{
        margin-left: 20px;
    }

    .mar_read{
        margin-left: 10px;
    }
}


.patrocinadores{
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 125px;
}

@media (max-width: 768px) { 
    .patrocinadores{
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 768px) { 
    .patro{
        width:70%;
        margin-bottom: 20px;
    }
}
.pre_footer{
    background-image: url(Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content:space-around;
    margin:0 auto;
    width: 95%;
}

.pre_footer_cont{
    display: flex;
    justify-content:space-around;
    margin:0 auto;
    width: 70%;
    margin-top: 50px;
    height: 280px;
    
}

.columna{
    width: 20%;
}

h3{
    font-family: var(--titulos);
    font-weight: 400;
}

.columna p{
    font-family: var(--textos);
    font-size: 11px;
}

@media (max-width: 768px) { 
    .pre_footer_cont{
        flex-direction: column;
        height: auto;
    }

    .columna{
        width: 70%;
    }

    .columna p{
        font-size: 15px;
    }
}
.pie{
    display:flex;
    justify-content: space-between;
    max-height: 100px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    background-color: #ebebeb;
}

@media (max-width: 768px) { 
    .pie{
        flex-direction: column;
        padding: 15px 0;
    }
}
.made_by{
    margin-left: 10px;
}

.payment{
    margin-right: 10px;
}

.galeria_prods .precio_prod span{
    text-decoration: line-through;
    color:#575757;
}

.form{
    display: inline-block;
    padding: 20px 10px;
    width: 250px;
    background-color: transparent;
}

.f_sub{
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor:  pointer;
}

.p1, .p3{
    margin-bottom: 20px;
}