
 :root{
    --titulos: 'Playfair Display', serif;
    --textos:'Lora', serif;
    --productos:'Work Sans', sans-serif;
   }

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: auto;
    min-height: 100px;
    align-items: center;
    position: relative;
   }

.logo{
    width: 35%;
    height: 100%;
    min-height: 100px;
    align-items: center;
    position:absolute;
    left: 35%;
   
}

.link_logo{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo{
   width: 30%;
}

.menu{
    width: 33%;

}
.moneda{
    width: 50%;
}


.carrito{
    width: 50%;
    text-align: center;
}

.img_carrito{
    width: 50%;
}

.menu_items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 15px;
    font-weight:700;   
 }

.par_derecha{
    margin-right: 10px;
    width: 10%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
    text-align: center;
}

.item{
    text-decoration: none;
    color:black;
    font-family: var(--productos);
    
}

.portada{

    background-image:url(../Sabujcha/Images/slider-2.jpg);
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    display:flex ;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.portada p{
    width: 500px;
    height:100px;
    font-family: var(--titulos);
    font-size: 50px;
    font-weight: 400;
    text-align: center; 
}

.shop_now{
  text-decoration: none;
}

.temporadas{
    margin: 0 auto;
    margin-top: 80px;
    display:flex ;
    justify-content: center;
    align-items: center;
   
}

.temp{
    margin-left:30px;
    width: 450px;
    height: 200px;
}

.summer{
    background-image: url(../Sabujcha/Images/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
}

.winter{
    background-image: url(../Sabujcha/Images/banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.off{
    font-size: 25px;
    font-family: var(--textos);
    color:#529F0F;
    margin-left: 30px;
    margin-top: 70px;

}

.vacation{
    font-size: 12px;
    font-family: var(--productos);
    font-weight: bolder;
    margin-left: 30px;
    margin-top: -20px;
}

.latest{
    background-image: url(../Sabujcha/Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

h2{
    font-family: var(--titulos);
    font-size: 25px;
    font-weight: 200;
}

.parrafo{
    margin: 0 auto;
    margin-top: -20px;
    width: 450px;
}

.galeria_prods{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:80%;
}

.prod1{
    margin-top: 20px;
    position: relative;
 
}

.img_prod{
    width: 90%;
    margin:0 auto;
}

.im{
    width: 100%;
}

.prod1 .des_prod{
    text-align: left;
    margin-left: 25px;
}

.prod1 .precio_prod{
    text-align: left;
    margin-left: 25px;
    margin-top: -10px;
}
.des_prod p{
    font-family: var(--productos);
}

.precio_prod p{
    font-family: var(--productos);
    font-weight: bold;
    font-size: 12px;
}

.latest .precio_prod span{
    text-decoration: line-through;
}

.circulo_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:#529F0F;
    position: absolute;
    left: calc(10%);
    bottom: calc(85%);
}

.circulo_desc p{
    color: white;
    font-family: var(--productos);
    font-size: 10px;

}

.agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 70px;

}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.agradecimiento .textos .principal{
    font-family: var(--titulos);
    width: 500px;

}

.agradecimiento .textos .secundario{
    font-family:var(--productos);
    font-weight: bold;
    color: #575757;
    font-size: 10px;

}

.agradecimiento .textos .autor{
    color: #575757;
    font-family: var(--productos);
    margin-top:-3px;
    font-size: 10px;
}

.new_products{
    background-image: url(../Sabujcha/Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 800px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.latest_news{
    background-image: url(../Sabujcha/Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    width: 95%;
    height: 500px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.galeria_latest_news{
    background-image: url(../Sabujcha/Images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:75%;
}